*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fce5b3; 
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: aliceblue;
    padding: 10px 0;
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    width: 70%;
    height: 7vh;
    border-radius: 20px 0 0 20px; /* Rounded corners on the left */
    padding: 4px 20px; /* Add padding for better spacing */
    border: 2px solid #fce5b3;
    font-size: large;
    border-right: none; /* Remove right border */
}

.btn {
    border: none;
    width: 120px;
    height: 7vh;
    background: linear-gradient(45deg, #e5d1a5, rgb(255, 166, 0));
    border-radius: 0 20px 20px 0; /* Rounded corners on the right */
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn1 .btn {
    margin-left: 10px; /* Space between the buttons */
    width: auto;
    height: auto;
    border-radius: 20px;
}

.show{
    background-color: #fff;
    /* overflow: scroll; */
    height: 90vh;
    /* margin: 12px 0; */
}
.showData h2{
    margin-top: -85px;
    /* text-align: center; */
    float: right;
    /* padding: 12px 0;*/}

.foodimg {
    width: 30%;
}
.foodimg img {
    width: 100%;
    border-radius: 100%;
}
#recipes{
    display: flex;
    flex-direction: column;
    background-color: white;
} 
p{    
}
/* Add your custom styles here */
#recipes {
    display: flex;
    flex-direction: column;
    /* gap: 20px; Space between items */
}

.recipe-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-item img {
    /* max-width: 100%; */
    max-width: 100%;
     border-radius: 50%;
}
.food-content{
    padding: 0 12px
}
.food-content h5 {
    margin: 10px 0 5px;
}
.ele{
    display: flex !important;
    flex-direction: row;
/*  */
}.clickdiv {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.clickdiv img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.clickContent h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.clickContent p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.clickContent h4 {
    margin-top: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li::before {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
    color: #facf74;
}
